*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
}

:root {
    --color-bg: rgb(18, 18, 18);
    --color-secondary-gray: rgb(34, 34, 34);
    --color-secondary-orange: rgb(219, 117, 42);
    --color-special-gray-light: rgb(68, 68, 68);
    --color-special-orange-light: rgb(206, 104, 0);
    --color-special-orange-dark: rgb(230, 97, 0);
    --color-warn: rgb(220, 75, 54);
    --color-accent: rgb(91, 91, 91);
    --color-text-main: rgb(246, 246, 246);
    --color-text-title: rgb(255, 255, 255);
    --color-text-special: rgb(194, 61, 0);
}

html {
    background-color: var(--color-secondary-orange);
    color: var(--color-text-main);
    font-size: 16px;
}

@media all and (max-width: 700px) {
    html {
        font-size: 12px;
    }
}

app-root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

main {
    flex: 1;
}

body {
    margin: 0 auto;
    background: linear-gradient(90deg,
            var(--color-secondary-orange) 0%,
            var(--color-bg) 50%,
            var(--color-secondary-orange) 100%);

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--color-text-title);
}

p {
    font-size: 1rem;
}

h1 {
    font-weight: 500;
    font-size: 1.96rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: 400;
}

/* form */
.form {
    display: flex;
    flex-direction: column;
    margin: auto;
    border-radius: 4px;
    width: 400px;
}

.form>.mat-mdc-form-field {
    margin-bottom: 4px;
    text-align: end;
}

@media all and (max-width: 420px) {
    .form {
        width: 90%;
    }
}

/* input */
input:focus {
    font-size: 16px !important;
}

mat-form-field {
    font-size: 1rem !important;
}

mat-form-field .mat-mdc-floating-label {
    top: 50% !important;
}

.mat-mdc-form-field-infix {
    min-height: unset !important;
    padding-block: 0.8rem !important;
}

/*Scrollbar*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #282C34;
}

::-webkit-scrollbar-thumb {
    background: #3c4253;
    border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
    background: gray;
}

/*Modal*/
.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
}

.comments-spinner-modal {
    position: relative;
    border-radius: 20px;
}

body {
    margin: 0;
}

/* notification */

.mat-snack-bar-container {
    padding: 0 !important;
    min-height: 0 !important;
    max-width: none !important;
    border-radius: 4px !important;
    background-color: transparent !important;
}

/* badge */

.mat-badge-content {
    font-weight: 400 !important;
    text-align: center !important;
    vertical-align: middle !important;
}