.container {
    background-color: var(--color-secondary-gray);
    width: 600px;
    flex: 1;
}

.content {
    padding-block: 0.6rem;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.content>* {
    width: 100%;
}

.buttons {
    display: flex;
    justify-content: space-around;
    font-size: 1rem;
    padding: 1rem;
}

.buttons button {
    padding: 1.2rem;
}


@media all and (max-width: 1000px) {
    .container {
        width: 100%;
    }
}