/* logo */
.logo {
    font-family: 'Luckiest Guy', 'Helvetica', cursive;
    user-select: none;
    text-transform: uppercase;
    font-size: 2.1rem;
    flex: 1;
    text-align: center;
    width: 100%;
}

.logo:hover {
    cursor: pointer;
}

.logo-accent {
    color: var(--color-special-orange-dark);
    font-weight: 600;
}