<section class="container">
    <h1 class="title">All tags</h1>
    <article class="items-container" *ngIf="tags; else loader">
        <app-add-btn (click)="openNewTag()" class="add-btn"></app-add-btn>

        <article class="item" *ngFor="let item of tags">
            <!-- data -->
            <article class="item-data">
                <!-- id -->
                <article class="item-data-item" matTooltip="Tag ID" matTooltipPosition="left">
                    <mat-icon color="accent" class="item-data-icon">tag</mat-icon>
                    <p>
                        {{item._id}}
                    </p>
                </article>
                <!-- name -->
                <article class="item-data-item" matTooltip="Tag name" matTooltipPosition="left">
                    <mat-icon class="item-data-icon orange">tag</mat-icon>
                    <p>
                        {{item.name}}
                    </p>
                </article>
            </article>

            <!-- menu -->
            <article>
                <button mat-icon-button color="warn" [matMenuTriggerFor]="menu">
                    <mat-icon class="action-icon">more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="openEditTag(item)">
                        <mat-icon>edit</mat-icon>
                        Edit
                    </button>
                    <button mat-menu-item (click)="deleteTag(item._id)">
                        <mat-icon>delete</mat-icon>
                        Delete
                    </button>
                </mat-menu>
            </article>
        </article>
    </article>

    <article *ngIf="tags?.length === 0" class="empty-msg">
        <h1>No tags found</h1>
    </article>
</section>

<ng-template #loader>
    <mat-spinner color="warn"></mat-spinner>
</ng-template>