header {
    background-color: var(--color-secondary-gray);
    margin: 0;
}

.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 1rem 1.5rem;
}

/* logo */
.logo {
    font-family: 'Luckiest Guy', 'Helvetica', cursive;
    user-select: none;
    text-transform: uppercase;
    font-size: 2.1rem;
    flex: 1;
    text-align: center;
}

.logo:hover {
    cursor: pointer;
}

.logo-accent {
    color: var(--color-special-orange-dark);
    font-weight: 600;
}


/* search bar */
.search-bar-container {
    flex: 2;
    display: flex;
    justify-content: center;
    margin-inline: 1rem;
}

.search-bar {
    margin-bottom: -1.25rem;
    width: 500px;
}

/* icons */
.icons {
    display: flex;
    justify-content: center;
    flex: 1;
}

.icons .mat-icon {
    transform: scale(1.5);
    transition: all ease-in 0.1s;
}

.icons .icon-button:nth-child(2) {
    margin-inline: 1rem;
}

.icons .icon-button:hover>.mat-icon {
    color: var(--color-special-orange-warn)
}

/* nav */
nav {
    background-color: var(--color-secondary-orange);
}

nav .admin-button, nav .categories-button {
    height: 3rem;
    border-radius: 0;
}

nav .categories-button {
    background-color: var(--color-secondary-gray);
    padding-inline: 6rem;
}

nav .admin-button {
    background-color: var(--color-special-gray-light);
    padding-inline: 2rem;
}

nav .admin-button .mat-icon, nav .categories-button .mat-icon {
    transform: scale(1.8);
    margin-right: 0.8rem;
}

nav .admin-button h2, nav .categories-button h2 {
    font-size: 1rem;
}

/* responsive */
@media all and (max-width:1000px) {
    .logo {
        flex: 50%;
        text-align: center;
    }

    .icons {
        flex: 50%;
    }

    .search-bar-container {
        margin-top: 8px;
        width: 100% !important;
    }
}

@media all and (max-width:700px) {
    .icons .mat-icon {
        transform: scale(1);
    }

    nav {
        display: flex;
        flex-direction: column;
    }

    nav .categories-button, nav .admin-button {
        padding-inline: 0;
    }
}