<section class="container">
    <h1 class="title">My addresses</h1>
    <article class="info" *ngIf="addresses; else loader">
        <article class="info-item" *ngFor="let address of addresses">
            <article class="info-item-header">
                <mat-icon class="icon">home</mat-icon>
                <article>
                    <h2 matTooltip="Recipient name">{{address.recipientName}}</h2>
                    <h2 matTooltip="Phone number" class="phone-number">
                        {{address.phoneNumber}}</h2>
                </article>
            </article>
            <article class="info-item-content">
                <p matTooltip="Postcode, city, country">{{address.postcode}},
                    {{address.city}}, {{address.country}}</p>
                <p matTooltip="Address details">{{address.address}}</p>
                <p *ngIf="address.additionalInfo" matTooltip="Additional information">
                    {{address.additionalInfo}}</p>
            </article>
        </article>

        <article *ngIf="addresses.length === 0" class="info-item">
            <h1>No addresses found</h1>
        </article>

        <app-add-btn></app-add-btn>
    </article>
</section>

<ng-template #loader>
    <mat-spinner color="warn"></mat-spinner>
</ng-template>