<section class="container">
    <article class="game" *ngFor="let game of games">
        <img [src]="game.displayImage" alt="Could not load image">
        <article class="icons">
            <article class="stars">
                <mat-icon>star_outlined</mat-icon>
                <mat-icon>star_outlined</mat-icon>
                <mat-icon>star_outlined</mat-icon>
                <mat-icon>star_outlined</mat-icon>
                <mat-icon>star_outlined</mat-icon>
            </article>
            <article class="actions">
                <mat-icon class="action-icon">favorite_outline</mat-icon>
                <mat-icon [fontSet]="isProductInCart(game._id)? 'material-icons' :'material-icons-outlined'"
                    class="action-icon" (click)="addProductToCart(game._id)">shopping_cart</mat-icon>
            </article>
        </article>
        <p class="name">
            {{game.name}}
        </p>
        <p class="genres">{{getGenres(game)}}</p>
        <p class="price">&euro;{{game.price.toFixed(2)}}</p>
    </article>
</section>